<button (click)="addBiggerStoreAnimal('dog')">Add Dog to Store</button>
<button (click)="addBiggerStoreAnimal('cat')">Add Cat to Store</button>

<button (click)="updateBiggerStorePlace('London')">Update Place in Store to London</button>
<button (click)="updateBiggerStorePlace('Madrid')">Update Place in Store to Madrid</button>
<button (click)="updateBiggerStorePlacePatch('London')">Update Place in Store to London (Patch)</button>


<br/>
<a routerLink="/arraysAnimalStore">Back</a>
<a routerLink="/selectors">Next</a>
